.transition {
	animation: smoothTransition 3s ease;
}

@keyframes smoothTransition {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	40% {
		opacity: 0;
		transform: translateY(-4rem);
	}

	60% {
		opacity: 0;
		transform: translateY(-4rem);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes diceRotation {
	0% {
		transform: rotateZ(-8deg);
	}
	50% {
		transform: rotateZ(8deg);
	}
	100% {
		transform: rotateZ(-8deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
