$color-primary: #ffedd8;
$color-secondary: #f3d5b5;
$color-accent: #8b5e34;
$color-accent-2: #6f4518;
$color-accent-3: #603808;
$color-accent-4: #583101;

$color-text: #000;
$color-text-light: #e7bc91;

// == FONTS
// 700
$font-header: 'Unbounded', cursive;
// 400
$font-body: 'Golos Text', sans-serif;
