.footer {
	background-color: $color-text;
	color: $color-primary;

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 8rem;
	}

	&__collumn {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-family: $font-header;
		color: $color-text-light;
		font-weight: 700;
	}

	&__desc {
		margin-bottom: 1.5rem;
		color: $color-text-light;
		opacity: 0.7;
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
}
