.how {
	background-color: $color-primary;

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 6rem;
	}

	&__img {
		width: 100%;
		display: block;
		border-radius: 4rem;
		mix-blend-mode: luminosity;

		@include phone {
			align-self: center;
		}
	}

	&__steps {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 6rem;

		@include phone {
			gap: 3rem;
		}
	}

	&__title {
		color: $color-accent-2;
		margin-bottom: 1rem;
	}
}
