.nav {
	padding: 6rem 0 0 0;
	width: 100%;
	position: relative;
	z-index: 2;

	&__list {
		display: flex;
		gap: 1rem;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@include tablet {
			flex-direction: column;
		}

		@include phone {
			flex-direction: column;
		}
	}

	&__item {
		padding: 1.2rem 0.9rem;
		cursor: pointer;

		a i {
			display: inline;
		}
	}

	&__logo {
		height: 5.5rem;
		margin-right: 12rem;

		@include tablet {
			margin-right: 0;
		}

		@include phone {
			margin-right: 0;
		}
	}

	&__list--center {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		gap: 3rem;

		@include tablet {
			gap: 6rem;
		}

		@include phone {
			gap: 6rem;
		}
	}
}
