.nav {
	padding: 6rem 0 0 0;
	width: 100%;
	position: relative;
	z-index: 2;

	&__list {
		display: flex;
		gap: 1rem;
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		padding: 1.2rem 0.9rem;
		cursor: pointer;
	}
}
