.result {
	&__content {
		display: grid;
		gap: 4rem;
		padding: 0 10rem 10rem;
		animation: fadeIn 0.5s ease-out;

		&:nth-child(odd) {
			grid-template-columns: 40% 60%;

			& .result__img {
				order: 0;
			}
		}

		&:nth-child(even) {
			grid-template-columns: 60% 40%;

			& .result__img {
				order: 1;
			}
		}
	}

	&__img {
		align-self: center;
		& img {
			width: 100%;
			display: block;
			border-radius: 1.5rem;
		}
	}

	&__dices {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}

	&__dice {
		position: relative;
	}

	&__dice-total {
		text-align: center;
		font-size: 1.8rem;
		margin-bottom: 3rem;
	}

	&__title {
		font-size: 4rem;
		font-family: $font-header;
		text-align: center;
	}

	&__subtitle {
		text-align: center;
		opacity: 0.8;
		margin-bottom: 3rem;
	}

	&__description p {
		margin-bottom: 1rem;
	}

	&__rolling-action {
		margin-top: -4rem;
		margin-bottom: 6rem;
	}

	&__dice-animation {
		animation: diceRotation 0.5s infinite alternate;
		transform-origin: center;
	}

	&__extra-btns {
		justify-content: center;
		display: flex;
		gap: 1rem;
	}
}
